
<a class="panel-block {{active}} robot-list-item" href="/command/{{id}}">
    <span class="panel-icon">
        <i class="fas fa-robot" aria-hidden="true"></i>
    </span>
    <span>{{name}}</span>
</a>