{% extends "base.html" %} {% block head_extra %} {% endblock %} {% block title %}Robot Selection{% endblock %} {% block content %}
<span style="display: none;" id="robotListTemplate">
    <a class="panel-block is-active">
        <span class="panel-icon">
            <i class="fas fa-robot" aria-hidden="true"></i>
        </span>
<span id="robotName"></span>
</a>
</span>
<div class="columns">
    <div class="column">
    </div>
    <div class="column">

        <form class="section" action="/" , method="POST">
            <div class="field">
                <div class="control">
                    <input class="input" type="text" name="code" placeholder="Access pin">
                    <p class="help">Your pin will be made up of just numbers</p>
                </div>
            </div>
            <div class="control">
                <button class="button is-light">Start</button>
            </div>
        </form>
    </div>
    <div class="column">
    </div>
</div>
{% endblock %}