.notification-container {
    position: fixed;
    z-index: 10;
    width: 100%;
    max-width: 100% !important;
}

@media only screen and (min-width: 768px) {
    .notification-container {
        padding-right: 25%;
        padding-left: 25%
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    /* bottom = footer height */
    padding: 25px;
}

footer {
    position: absolute;
    background-color: rgb(246, 246, 246);
    padding: 20px;
    color: #363636;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    border-radius: 1em;
    margin: 1em;
}

.dropdown-content {
    background: rgba(255, 255, 255, 0.95);
    backdrop-filter: blur(5px);
}

.top-bar {
    padding: 10px;
    margin-left: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
    float: center;
    border-radius: 6px;
    background-color: #363636;
    color: #FFF;
    border: 2px;
    border-bottom: 5px;
    border-style: solid;
    border-color: black;
}

.button {
    border-radius: 6px;
    border: 2px;
    border-bottom: 5px;
    border-style: solid;
    border-color: black !important;
    background-color: rgba(255, 255, 255, 1);
    transition: 100ms linear;
}

.button:hover {
    background-color: rgba(255, 255, 255, 0.9);
    transition: 100ms linear;
}

.button:active {
    color: white;
    background-color: #363636;
    transition: 100ms linear;
}

.navbar-menu {
    border: 0px;
    border-bottom: 5px;
    border-style: solid;
    border-color: black;
    width: 100%;
    padding: 5px;
    background-color: #5a5a5a;
}

@media screen and (max-width:1023px) {
    .navbar-menu {
        background-color: #5a5a5a;
        box-shadow: 0 0px 0px rgba(10, 10, 10, .1) !important;
        padding: 5px;
    }
}

body {
    width: 100%;
    padding: 0px;
}